$simulator-prefix-cls: 'simulator';

.#{$simulator-prefix-cls}-container {
  padding: 16px;
  flex: 1;
  display: flex;
  justify-content: center;

  .#{$simulator-prefix-cls}-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(31, 56, 88, 0.06);
  }
}

.#{$simulator-prefix-cls}-current-dropdown {
  .ant-dropdown-menu {
    padding: 0;

    .ant-dropdown-menu-item {
      padding: 2px 12px;
      background-color: #56595c;

      &:hover {
        background-color: #333333;
      }
    }
  }
}

.#{$simulator-prefix-cls}-current-selector-item {
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }

  p {
    font-size: 12px;
  }
}
