.team-manage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: default;

  .team-manage-nav-bar {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #e4e4e5;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;

    .team-manage-nav-bar-left {
      display: flex;
      align-items: center;
      color: #2f2e3f;
      text-decoration: none;

      .team-manage-nav-bar-left-back {
        font-size: 14px;
        cursor: pointer;
      }

      .team-manage-nav-bar-icon {
        width: 24px;
        height: 24px;
        margin-left: 8px;
      }

      .team-manage-nav-bar-left-dropdown {
        display: flex;
        align-items: center;

        .team-manage-nav-bar-title {
          font-size: 14px;
          padding-left: 12px;
          padding-right: 4px;
        }

        .team-manage-nav-bar-left-dropdown-icon {
          font-size: 10px;
        }
      }
    }
  }

  .team-manage-menu-body {
    display: flex;
    width: 100%;
    height: 100%;

    .team-manage-menu {
      padding: 16px;
      width: 200px;
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);

      .team-manage-menu-content {
        .team-manage-menu-substring {
          font-size: 12px;
          color: #6b7280;
          padding-bottom: 8px;
        }

        .team-manage-menu-items {
          .team-manage-menu-item {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 8px 16px;
            text-decoration: none;
            margin-bottom: 8px;
            border-radius: 4px;

            .team-manage-menu-item-icon {
              color: #374151;
            }

            .team-manage-menu-item-text {
              font-size: 14px;
              color: #374151;
              padding-left: 4px;
            }
          }

          .team-manage-menu-item-active {
            background: rgba(22, 119, 255, 0.1);

            .team-manage-menu-item-icon {
              color: $theme-color;
            }

            .team-manage-menu-item-text {
              color: $theme-color;
            }
          }
        }
      }
    }

    .team-manage-main {
      width: calc(100% - 200px);
      height: 100%;
      background-color: #f9fafb;
      padding: 24px;

      .team-manage-main-content {
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 22px 16px;
      }
    }
  }
}
